
<header>
<!-- enquiry form ######################### -->
<div class="MenuSecTwo MenuSecTwo2">
  <img src="../assets/images/enquiry-banner.png" alt="">
</div>
 <div class="MenSecSyn MenSecSyn1">
 <div class="navClose"><span></span>Close</div>  
    <div class="business-inquiry">
      <div class="CntSecWdth">
        <h2> Business Inquiry </h2> 
        <p>Have a question or proposal in mind? Get in touch with us.</p>  
        <div class="CnTacFrm">
           <div class="FrmCntrSec">
             <input type="text" class="form-cntrl" name="">
             <label class="label-wrap"> Name </label>
           </div>
           <div class="FrmCntrSec">
             <input type="text" class="form-cntrl" name="">
             <label class="label-wrap"> Email </label>
           </div>
           <div class="FrmCntrSec">
             <input type="text" class="form-cntrl" name="">
             <label class="label-wrap"> Phone </label>
           </div>
           <div class="FrmCntrSec">
              <textarea class="form-cntrl"></textarea>
             <label class="label-wrap"> Message  </label>
           </div>
           <div class="BtnSer CntTopBtm">     
                <span class="SecBtn"> <a href="#" class="btnSerSec btnSerSec2"> <span> Send </span>  </a> </span>
            </div>
        </div> 
     </div>
    </div>
 </div>

<!-- Mega Menu ######################### -->
    
    <div class="Nav">
            <div class="NavLrft">
                <div class="logoSec">
                     <a href="#" mat-list-item [routerLink]="['/index']" routerLinkActive="active" class="mainNav-href"> <img src="https://www.synervatesolutions.com/asset/images/logo.png" data-name="logo-inverse"> </a>
                </div>
                <ul>
                   <li> <a href="#" mat-list-item [routerLink]="['/services']"  class="mainNav-href"> Services </a> </li>
                   <li> <a href="#" mat-list-item [routerLink]="['/case-study']"  class="mainNav-href"> Consulting </a> </li>
                   <li> <a href="#"> Product Platform </a> </li>
                </ul>
            </div>
            <div class="NavRight">
               <ul>
                 <li> <a href="tel:8329150089"> Call Now : 832-915-0089 </a> </li>
                 <li> <a class="enquiry-btn"> Business Inquiry </a> </li>
               </ul>    
               <div class="ArwSecLn">
                <div class="MenuArrow">
                      <span></span>
                      <span></span>
                      <span> <p> Menu </p> </span>
                </div>
               </div>
            </div>
    </div>
 <div class="MenuSecTwo">
   <img src="https://www.synervatesolutions.com/asset/images/iconSecShow.png" alt="">
 </div>
  <div class="MenSecSyn">
  <div class="navClose"><span></span>Close</div>  
  <div class="navInn scrolling-list">
        <div class="ClseSubMn"> <span class="arrow"></span> </div>
        <ul class="mainNav">
                 <li class="mainNav-list"><a href="#" class="mainNav-href">Home</a></li>
                 <li class="mainNav-list"><a href="#" class="mainNav-href">About Us</a></li>
                 <li class="mainNav-list dropdown">
                 <a href="javascript:void(0)" class="mainNav-href"> Services <span class="plsIcon">  </span> </a>
                 <div class="SubMnSecShow">  
                 <ul class="subNav">
                     <li class="subNav-list"><a href="#" class="subNav-href"> Platform Migration </a></li>                                
                      <li class="subNav-list"><a href="#" class="subNav-href"> Application Enhancement & Customisation </a></li>                                
                      <li class="subNav-list"><a href="#" class="subNav-href"> Reporting Suites </a></li>
                      <li class="subNav-list"><a href="#" class="subNserav-href"> Ongoing Application Maintenance  </a></li>                                
                 </ul>
                </div>
                  </li>
                <li class="mainNav-list">
                 <a href="javascript:void(0)" class="mainNav-href"> Consulting </a>
                </li>
                 <li class="mainNav-list">
                 <a href="javascript:void(0)" class="mainNav-href"> Product Platform  </a>
                </li>
                  <li class="mainNav-list"><a href="#" class="mainNav-href"> Case study </a></li>
                  <li class="mainNav-list"><a href="/contact" class="mainNav-href">Career </a></li>
                  <li class="mainNav-list"><a mat-list-item [routerLink]="['/faq']"  class="mainNav-href"> Faq's </a></li>      
                  <li class="mainNav-list"><a mat-list-item [routerLink]="['/contactus']" class="mainNav-href">Contact Us</a></li>
                  </ul>
                </div> 
  </div>
</header>