<footer>
  
    <div class="container">
         <div class="FterMnuSec">
             <div class="LogoFter">
                  <img src="https://www.synervatesolutions.com/asset/images/logo-black.png">
             </div>
             <div class="LogoMnu">
                  <ul>
                    <li> <a href="#"> About  Synervate </a> </li>
                    <li> <a href="#"> Services </a> </li>
                    <li> <a href="#"> Products </a> </li>
                    <li> <a href="#" mat-list-item [routerLink]="['/faq']"> FAQ's </a> </li>
                    <li> <a href="#" mat-list-item [routerLink]="['/contactus']"> Contact Us </a> </li>
                 </ul>                       
             </div>
         </div>
         <div class="CpoyRightSec">
            <div class="CpyMsg">
               <p> © Synervate Solutions All rights reserved   |  Terms, Conditions, & Privacy <a href="https://www.ibrandox.com/" target="_blank"> <img src="https://www.synervatesolutions.com/asset/images/cpyright_logo.png"> </a>  </p>
            </div>
            <div class="Scmedia">
                <ul>
                  <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                  <li> <a href="#"> <i class="fab fa-linkedin-in"></i> </a> </li>
                  <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                  <li> <a href="#"> <i class="fab fa-youtube"></i> </a> </li>
                </ul>
            </div>
         </div>
    </div>
  </footer>