<section class="SerVcSec" data-aos="fade-up" data-aos-offset="100">
    <div class="container">
      <div class="SrvCHeadSec"> 
       <div class="SerVcCnt">
         <h2>Services</h2>
         <p> Derived by combining Synergy and Innovate, Synervate reflects the powerful force multiplier impact of wisdom , energies and resolve of a collaborative team to deliver exemplary transformative solutions </p>
       </div>
       <div class="SrVcImgSec">
           <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/ServiceImage/92d18530c8b34f72a53c1feb298bcff0.jpg">
       </div>
    </div>
        <div class="SerVcDsy">           
                     <div class="SerVcSec4" >
                        <a href="#" class="LinkAllSec"></a>
                           <div class="SerVcImg"> 
                                 <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/ServiceImage/92d18530c8b34f72a53c1feb298bcff0.jpg">
                                   <figcaption></figcaption>
                             </div>     
                             <div class="SerVcCntSec" >
                               <div>
                               <h3>Platform Migration</h3>
                               <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry </p>
                             </div>
                          </div>
                        
                      </div>

                      <div class="SerVcSec4">
                      <a href="#" class="LinkAllSec"></a>        
                             <div class="SerVcImg"> 
                                 <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/ServiceImage/92d18530c8b34f72a53c1feb298bcff0.jpg">
                                  <figcaption></figcaption>
                             </div>     
                            <div class="SerVcCntSec">
                               <div>
                               <h3>Application Enhancement & Customisation </h3>
                               <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry </p>
                             </div>
                            </div>
                         
                     </div>
                    
                    <div class="SerVcSec4">    
                    <a href="#" class="LinkAllSec"></a>    
                             <div class="SerVcImg"> 
                                 <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/ServiceImage/92d18530c8b34f72a53c1feb298bcff0.jpg">
                                  <figcaption></figcaption> 
                             </div>     
                            <div class="SerVcCntSec">
                               <div >
                               <h3>Reporting Suites</h3>
                               <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry </p>
                             </div>
                            </div>

                          
                     </div>


                  <div class="SerVcSec4" >
                       <a href="#" class="LinkAllSec"></a>
                           <div class="SerVcImg"> 
                                 <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/ServiceImage/92d18530c8b34f72a53c1feb298bcff0.jpg">
                                  <figcaption></figcaption> 
                             </div>     
                            <div class="SerVcCntSec" >
                               <div>
                               <h3>Platform Migration</h3>
                               <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry </p>
                             </div>
                            </div>
                          <figcaption></figcaption>  
                      </div>

                      <div class="SerVcSec4">
                      <a href="#" class="LinkAllSec"></a>        
                             <div class="SerVcImg"> 
                                 <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/ServiceImage/92d18530c8b34f72a53c1feb298bcff0.jpg">
                                  <figcaption></figcaption> 
                             </div>     
                            <div class="SerVcCntSec">
                               <div>
                               <h3>Application Enhancement & Customisation </h3>
                               <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry </p>
                             </div>
                            </div>
                            <figcaption></figcaption>

                     </div>
                    
                    <div class="SerVcSec4">    
                    <a href="#" class="LinkAllSec"></a>    
                             <div class="SerVcImg"> 
                                 <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/ServiceImage/92d18530c8b34f72a53c1feb298bcff0.jpg">
                                  <figcaption></figcaption> 
                             </div>     
                            <div class="SerVcCntSec">
                               <div >
                               <h3>Reporting Suites</h3>
                               <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry </p>
                             </div>
                            </div>
                     </div>
        </div>
    </div>
</section>