
<section class="SlideHome slideTop">
    <owl-carousel-o [options]="customOptionsone">
        <ng-template carouselSlide *ngFor="let Slder of SldrRptmn">
        <div class="item">
            <a href="#" class="LinkAllSec"></a>
                 <div class="BackImgSlide">
                      <img src={{Slder.ImgSldr}}>
                        <div class="TextAndImg">
                            <span></span>
                            <h2> {{Slder.SldrCntVr}} </h2>
                        </div>
                 </div>
           </div>
        </ng-template>  
</owl-carousel-o>   

</section>
<section class="SerVcSec" data-aos="fade-up" data-aos-offset="100">
    <div class="container">
        <div class="TitleSec">
            <h2> Services</h2> </div>
        <div class="SldSer">
            <owl-carousel-o [options]="customOptionsTwo">
                <ng-template carouselSlide *ngFor="let SerVceSldr of SldrSrcmn">
                    <div class="item">
                        <a href="#" class="LinkAllSec"></a>
                        <div class="SerVcImg"> <img src={{SerVceSldr.SldrSreImg}}> </div>
                        <div class="SerVcCntSec">
                            <div>
                                <h3> {{SerVceSldr.SldrHdng}} </h3>
                                <p> {{SerVceSldr.SldrCntVrShw}} </p>
                            </div>
                        </div>
                    </div>
                </ng-template>  
         
              </owl-carousel-o> 
               <div class="BtnSer"> <span class="SecBtn"> <a href="#" class="btnSerSec"> <span> All Services </span> </a>
                </span>
            </div>
        </div>
    </div>
</section>
<section class="AbtSecShow">
    <div class="AbtSec12">
        <div class="AbtSec6" data-aos="fade-right">
            <div class="WdtSecPd">
               <div class="AbtNavSec">
                  <ul>
                     <li class="ActiveNavSec" data-dwntb="tab-1"> About Synervate</li>
                     <li data-dwntb="tab-2"> Why Synervate </li>
                  </ul>
               </div>
               <div class="AbtCntSec" data-dwndata="tab-1" style="display: block;"> 
                   <div class="AbtSecCnt">
                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                   </div>
                  <div class="AbtBtnSer">   
                    <span class="SecBtn">  <a href="#" class="btnSerSec"> <span>  Learn More </span> </a> </span>
                 </div>
               </div>
              <div class="AbtCntSec" data-dwndata="tab-2"> 
                   <div class="AbtSecCnt">
                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                   </div>
                  <div class="AbtBtnSer">   
                    <span class="SecBtn"> <a href="#" class="btnSerSec"> <span> Learn More </span>  </a> </span>
                 </div>
               </div>
            </div>
        </div>  
        <div class="VdeoBtnAb" title="Click Here to Play Corporate Video" >
            <div class="mission_video" >
                <p data-aos="zoom-in-down" data-aos-duration="8000"><a id="play-video1" class="video-play-button video-thumbnail" href="JavaScript:Void(0);"> <span></span> </a></p>
            </div>
        </div>
         <div class="AbtSec6" data-aos="fade-left">
            <div class="WdtSecPd">                      
                <div class="PadSecLng">
                    <img src="https://www.synervatesolutions.com/asset/images/iconSecShow.png">
                </div>
            </div>         
         </div>  
    </div>  
</section>

<section class="InsghtSecShow">
    <div class="container">
       <div class="TitleSec">
          <h2> Insights </h2>
      </div>
      <div class="ClInsSec">
         <div class="Col7Sec" data-aos="fade-right">
           <a href="#" class="LinkAllSec"></a>   
           <div class="InSecimg"> 
           <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/BlogImage/771fe896871048a8b7c025040d58a679.jpg">
           </div>
           <div class="InSecCntSec">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
           </div>
         </div>
        <div class="Col7Sec" data-aos="fade-left">
          <a href="#" class="LinkAllSec"></a>   
           <div class="InSecimg"> 
           <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/BlogImage/af64194e597f48f68f553d8c7a50da38.jpg">
           </div>
           <div class="InSecCntSec">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
           </div>
         </div>
         <div class="Col7Sec" data-aos="fade-right">
            <a href="#" class="LinkAllSec"></a>   
           <div class="InSecimg"> 
           <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/BlogImage/09c63a8bfc8243a8905e470eeace78b7.jpg">
           </div>
           <div class="InSecCntSec">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
           </div>
         </div>
         <div class="Col7Sec">
            <a href="#" class="LinkAllSec"></a>   
           <div class="InSecimg"> 
           <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/BlogImage/24241432623d48ac99041f8c7b6db053.jpg">
           </div>
           <div class="InSecCntSec">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
           </div>
         </div>
       <div class="Col7Sec" data-aos="fade-left">
          <a href="#" class="LinkAllSec"></a>   
           <div class="InSecimg"> 
           <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/BlogImage/54a3cb5179814a1fa2e8653bbf24cd77.jpg">
           </div>
           <div class="InSecCntSec">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
           </div>
         </div>
      </div>
     <div class="BtnSer MgTopBtmSecBlg">
         <a href="#" class="btnSerSec"> <span> Explore More </span> </a>
     </div>
    </div>
</section>

<section class="TestMnSec">
    <div class="container">
         <div class="TleSec">
            <h2>Testimonials</h2>
         </div>
        <div class="TstSecTest" data-aos="zoom-in">
          <div class="TestWdthSec">
             <div class="TestSecShowSlide"> 
                <owl-carousel-o [options]="customOptionsTestmnSlider">
                    <ng-template carouselSlide>
                        <div class="item"> 
                            <div class="ColTestSec">
                                <div class="ProImgSec">
                                    <img src="https://www.synervatesolutions.com/asset/icon/propic.png">
                                </div>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                                <div class="DstName">
                                 <p><b> Name Here </b></p>
                                 <p> Designation </p>
                             </div>
                            </div>
                        </div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="item"> 
                            <div class="ColTestSec">
                                <div class="ProImgSec">
                                    <img src="https://www.synervatesolutions.com/asset/icon/propic.png">
                                </div>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                                <div class="DstName">
                                 <p><b> Name Here </b></p>
                                 <p> Designation </p>
                             </div>
                            </div>
                          </div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="item"> 
                            <div class="ColTestSec">
                                <div class="ProImgSec">
                                    <img src="https://www.synervatesolutions.com/asset/icon/propic.png">
                                </div>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                                <div class="DstName">
                                 <p><b> Name Here </b></p>
                                 <p> Designation </p>
                             </div>
                            </div>
                          </div>
                    </ng-template> 
                    <ng-template carouselSlide>
                        <div class="item"> 
                            <div class="ColTestSec">
                                <div class="ProImgSec">
                                    <img src="https://www.synervatesolutions.com/asset/icon/propic.png">
                                </div>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                                <div class="DstName">
                                 <p><b> Name Here </b></p>
                                 <p> Designation </p>
                             </div>
                            </div>
                          </div>
                    </ng-template> 
                  </owl-carousel-o> 
             </div>
          </div>
         </div>
    </div>
</section>
<section class="PrtSec12" data-aos="fade-up">
    <div class="TleSec">
        <h2>Partners </h2>
    </div>
 <div class="container">
    <div class="ParNerSec">
        <owl-carousel-o [options]="customOptionsClints">
            <ng-template carouselSlide>     
            <div class="item">
            <div class="ParTnerImg">
                <img src="https://www.synervatesolutions.com/asset/images/pintan-tech.png">
            </div> 
            </div>
        </ng-template>
        
        <ng-template carouselSlide>     
            <div class="item">
            <div class="ParTnerImg">
                <img src="https://www.synervatesolutions.com/asset/images/pintan-tech.png">
            </div> 
            </div>
        </ng-template>

        <ng-template carouselSlide>     
            <div class="item">
            <div class="ParTnerImg">
                <img src="https://www.synervatesolutions.com/asset/images/pintan-tech.png">
            </div> 
            </div>
        </ng-template>
        <ng-template carouselSlide>     
            <div class="item">
            <div class="ParTnerImg">
                <img src="https://www.synervatesolutions.com/asset/images/pintan-tech.png">
            </div> 
            </div>
        </ng-template>
    </owl-carousel-o> 
    </div>
 </div>
</section>
<section class="EmiCheckSec" data-aos="fade-up">
    <div class="container">
          <div class="SubCri12Sec">
               <div class="SubCri6">
                  <div class="SubTrsSec">
                     <h4> Direct to your inbox </h4>
                     <p> Stay up to date with our Editor's Picks newsletter. </p>
                   </div>
               </div>
               <div class="SubCri6">

                 <div class="SbrcSec"> 
                 <div class="searchbar">    
                 <input name="ctl00$txtSearchProducts" type="text" id="txtSearchProducts" class="autosuggest searchbar-input" placeholder="Enter Your Email..">
                 <button type="button" class="btn_close" id="searchbar-cross"> <img src="asset/icon/right-arrow.png"> </button>
                 <img class="img" id="searchbar-icon" src="asset/icon/cancel.png">
                 </div>
               </div>

                 <div class="BtnSer mgtopopx">
                         <a href="JavaScript:Void(0);" class="btnSerSec">  <span>Subscribe  </span> </a>
                 </div>
               </div>
          </div>
    </div>
</section>