<section class="Sec12Bneer">
    <div class="BneerSec case-study-banner">
       <img class="BgSec" src="https://www.synervatesolutions.com/asset/images/serviceBannerSec.jpg">
    </div> 
    <div class="CntTitleSec">
      <h2> Case Studies </h2>
   </div>
</section>
<section class="SerVcSec" data-aos="fade-up" data-aos-offset="100">
    <div class="container">
   <div class="study-left-nav">
      <ul>
        <li><a href="#" class="active">SEO & SMO</a> </li>
        <li><a href="#">Consulting</a> </li>
        <li><a href="#">Oil & Gas</a> </li>
        <li><a href="#">Banking & Financial</a> </li>
      </ul>
   </div>
   <div class="study-right-panel">
    <div class="SerVcSec4 study-col1" >
      <a href="#" class="LinkAllSec"></a>
         <div class="SerVcImg"> 
               <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/SectorImage/f17747c7c1454f47836125b0623f9d99.jpg">
                 <figcaption></figcaption>
           </div>     
           <div class="SerVcCntSec" >
             <div>
             <h3>SEO Case Study </h3>
            </div>
        </div>
    </div>
    <div class="SerVcSec4 study-col1" >
      <a href="#" class="LinkAllSec"></a>
         <div class="SerVcImg"> 
               <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/SectorImage/f17747c7c1454f47836125b0623f9d99.jpg">
                 <figcaption></figcaption>
           </div>     
           <div class="SerVcCntSec" >
             <div>
             <h3>SEO Case Study </h3>
            </div>
        </div>
    </div>
    <div class="SerVcSec4 study-col1" >
      <a href="#" class="LinkAllSec"></a>
         <div class="SerVcImg"> 
               <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/SectorImage/f17747c7c1454f47836125b0623f9d99.jpg">
                 <figcaption></figcaption>
           </div>     
           <div class="SerVcCntSec" >
             <div>
             <h3>SEO Case Study </h3>
            </div>
        </div>
    </div>
    <div class="SerVcSec4 study-col1" >
      <a href="#" class="LinkAllSec"></a>
         <div class="SerVcImg"> 
               <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/SectorImage/f17747c7c1454f47836125b0623f9d99.jpg">
                 <figcaption></figcaption>
           </div>     
           <div class="SerVcCntSec" >
             <div>
             <h3>SEO Case Study </h3>
            </div>
        </div>
    </div>
    <div class="SerVcSec4 study-col1" >
      <a href="#" class="LinkAllSec"></a>
         <div class="SerVcImg"> 
               <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/SectorImage/f17747c7c1454f47836125b0623f9d99.jpg">
                 <figcaption></figcaption>
           </div>     
           <div class="SerVcCntSec" >
             <div>
             <h3>SEO Case Study </h3>
            </div>
        </div>
    </div>
    <div class="SerVcSec4 study-col1" >
      <a href="#" class="LinkAllSec"></a>
         <div class="SerVcImg"> 
               <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/SectorImage/f17747c7c1454f47836125b0623f9d99.jpg">
                 <figcaption></figcaption>
           </div>     
           <div class="SerVcCntSec" >
             <div>
             <h3>SEO Case Study </h3>
            </div>
        </div>
    </div>
    <div class="SerVcSec4 study-col1" >
      <a href="#" class="LinkAllSec"></a>
         <div class="SerVcImg"> 
               <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/SectorImage/f17747c7c1454f47836125b0623f9d99.jpg">
                 <figcaption></figcaption>
           </div>     
           <div class="SerVcCntSec" >
             <div>
             <h3>SEO Case Study </h3>
            </div>
        </div>
    </div>
    <div class="SerVcSec4 study-col1" >
      <a href="#" class="LinkAllSec"></a>
         <div class="SerVcImg"> 
               <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/SectorImage/f17747c7c1454f47836125b0623f9d99.jpg">
                 <figcaption></figcaption>
           </div>     
           <div class="SerVcCntSec" >
             <div>
             <h3>SEO Case Study </h3>
            </div>
        </div>
    </div>
    <div class="SerVcSec4 study-col1" >
      <a href="#" class="LinkAllSec"></a>
         <div class="SerVcImg"> 
               <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/SectorImage/f17747c7c1454f47836125b0623f9d99.jpg">
                 <figcaption></figcaption>
           </div>     
           <div class="SerVcCntSec" >
             <div>
             <h3>SEO Case Study </h3>
            </div>
        </div>
    </div>
    <div class="SerVcSec4 study-col1" >
      <a href="#" class="LinkAllSec"></a>
         <div class="SerVcImg"> 
               <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/SectorImage/f17747c7c1454f47836125b0623f9d99.jpg">
                 <figcaption></figcaption>
           </div>     
           <div class="SerVcCntSec" >
             <div>
             <h3>SEO Case Study </h3>
            </div>
        </div>
    </div>
    <div class="SerVcSec4 study-col1" >
      <a href="#" class="LinkAllSec"></a>
         <div class="SerVcImg"> 
               <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/SectorImage/f17747c7c1454f47836125b0623f9d99.jpg">
                 <figcaption></figcaption>
           </div>     
           <div class="SerVcCntSec" >
             <div>
             <h3>SEO Case Study </h3>
            </div>
        </div>
    </div>
    <div class="SerVcSec4 study-col1" >
      <a href="#" class="LinkAllSec"></a>
         <div class="SerVcImg"> 
               <img src="https://www.synervatesolutions.com/SynervateSolutionsBackEndImg/SectorImage/f17747c7c1454f47836125b0623f9d99.jpg">
                 <figcaption></figcaption>
           </div>     
           <div class="SerVcCntSec" >
             <div>
             <h3>SEO Case Study </h3>
            </div>
        </div>
    </div>
   </div>
    </div>
</section>