<section class="Sec12Bneer">
    <div class="BneerSec">
       <img class="BgSec" src="https://www.synervatesolutions.com/asset/images/contactusimg.jpg">
    </div> 
    <div class="CntTitleSec">
       <h2> Conact us </h2>
    </div>
  </section>

  <!-- app.component.html -->
  <section class="SerVcSec" data-aos="fade-up" data-aos-offset="100">
      <div class="container">
          <div class="CntSecWdth">
             <h2> Send us a message </h2> 
             <p>Have a question or proposal in mind? Get in touch with us.</p> 
             
             <form [formGroup]="form">
             <div class="CnTacFrm">            
                <div class="FrmCntrSec">
                  
                  <input type="text" id="email" class="form-cntrl" formControlName="email">
                  <label class="label-wrap" for="email"> Email </label>
                </div>
                <div class="FrmCntrSec">
                  
                  <input type="password" id="password" class="form-cntrl" formControlName="password">
                  <label for="password" class="label-wrap"> Password </label>
                </div>
              
              
                <div class="BtnSer CntTopBtm">     
                  <button type="submit" class="btnSerSec" [disabled]="!form.valid">
                    <span> Submit </span>
                   </button>
                 </div>
             </div>
             </form> 
          </div>
      </div>
      <div class="ImgAbstSec">
         <img src="https://www.synervatesolutions.com/asset/images/SerVclogo.png">
      </div>
  </section>
  <section class="CntMapSec">
         <div class="MapSec" data-dwndata='1' style="display: block;">  
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3508.0936763600794!2d77.0978687149445!3d28.446592399223288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d18b3f14ae46f%3A0x60962b4b92cdb0aa!2sParsvnath%20Exotica!5e0!3m2!1sen!2sin!4v1579159691115!5m2!1sen!2sin" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
         </div>
          <div class="MapSec" data-dwndata='2'>  
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15987651.415405422!2d121.9378914!3d11.9582105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1577169137132!5m2!1sen!2sin" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
         </div>   
          <div class="MapSec" data-dwndata='3'>  
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26359294.21387921!2d-113.71754000532063!3d36.24708982631333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sin!4v1577169237066!5m2!1sen!2sin"  frameborder="0" style="border:0;" allowfullscreen=""></iframe>
         </div>   
      <div class="DSyCntSec">
          <div class="InnerDsyCntSec">
             <div class="CntSecShow">
                <ul>
                   <li data-dwntb='1' class="CntSecShowActive MapFlt"> India </li>
                   <li data-dwntb='2' class="MapFlt"> Philippines </li>
                   <li data-dwntb='3' class="MapFlt"> USA </li> 
                </ul>
             </div>
            <div class="CntContUsPs" data-dwndata='1' style="display: block;">
               <div class="CntSecAdrs">
               <p> C3-303, Parsvnath Exotica, Golf Course Road, Sector 53,
                 Gurgaon 122011 Haryana, India. </p>             
               <p> <img src="asset/icon/phone-call.png">  +91-9535455711  </p>
               <p> <img src="asset/icon/email.png">  corporate@synervatesolutions.com  </p>
               <div class="DrSection">  
               <p class="GeTdrEc"> <a href="#"> Get Direction <img src="asset/icon/right-arrow.png"> </a> </p>
              </div>
             </div>
            </div>
            <div class="CntContUsPs" data-dwndata='2'>
               <div class="CntSecAdrs">
               <p> C3-303, Parsvnath Exotica, Golf Course Road, Philippines. </p>             
               <p> <img src="asset/icon/phone-call.png">  +91-9535455711  </p>
               <p> <img src="asset/icon/email.png">  corporate@synervatesolutions.com  </p>
               <div class="DrSection">  
               <p class="GeTdrEc"> <a href="#"> Get Direction <img src="asset/icon/right-arrow.png"> </a> </p>
              </div>
             </div>
            </div>
            <div class="CntContUsPs" data-dwndata='3'>
               <div class="CntSecAdrs">
               <p> C3-303, Parsvnath Exotica, Golf Course Road, USA. </p>             
               <p> <img src="https://www.synervatesolutions.com/asset/icon/phone-call.png">  +91-9535455711  </p>
               <p> <img src="https://www.synervatesolutions.com/asset/icon/email.png">  corporate@synervatesolutions.com  </p>
               <div class="DrSection">  
               <p class="GeTdrEc"> <a href="#"> Get Direction <img src="https://www.synervatesolutions.com/asset/icon/right-arrow.png"> </a> </p>
              </div>
             </div>
            </div> 
          <div class="CntImgSecShow">
            <img src="https://www.synervatesolutions.com/asset/images/cntactimglocation.png">
          </div>
          </div>
    </div>
  </section>
